.choicesCreatorWrapper {
    width: 70%;
    
    .lineWrapper {
        display: flex;
        
        .input {
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .deleteBtnWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
}