body {
    background-color: #F0F0F0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', 'Arial', serif;
    font-style: normal;
    font-size: 20px;
    overflow-y: scroll;
    width: 100%;
}