.mainWrapper {
    display: flex;
    gap: 20px;
    
    margin: 40px 5%;
  
    .stepsWrapper {
        display: flex;
        flex-direction: column;
        
        background-color: white;
        padding: 15px 5px;
        border-radius: 10px;
        width: 210px;
        height: 100%;
    }
    
    .contentWrapper {
        width: 70%;
        margin: auto;
        
        .questionLabel {
            font-size: 1.75rem;
            font-weight: bold;
        }

        .questionInput {
            width: 70%;
        }
        
        .imagePreview {
            width: 100%;
            height: auto;
        }
    }
}

