.headerWrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    background-color: white;
    padding: 0 5%;
    
    .logo {
        cursor: pointer;
        font-weight: 600;
        font-size: 36px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 10.5px;
    }
}
