.eventsWrapper {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.events {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}