//  .eventPreviewContainer {
//    height: 100%;
//  }

// body {
//   overflow-y: hidden;
//   height: 100%;
//   margin: 0;
// }

// .bottomDev{
//   height: 200px; 
// }

.eventsWrapper {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

