/*!******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./Content/Components/EventAdmin/EventAdmin.scss ***!
  \******************************************************************************************************************************************************************************************************************************************/
.LsPiQbCaZid6G1_rq4Ef {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}
.LsPiQbCaZid6G1_rq4Ef .EhVe0dMAEpNI5tw4TQry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    padding: 15px 5px;
    border-radius: 10px;
    width: 210px;
}
.LsPiQbCaZid6G1_rq4Ef .ChIhmYTQ39bHQCaMuDjc {
    margin: auto;
}
.LsPiQbCaZid6G1_rq4Ef .ChIhmYTQ39bHQCaMuDjc .KwTP37C5iJIMaRXX1AH6 {
}
.LsPiQbCaZid6G1_rq4Ef .ChIhmYTQ39bHQCaMuDjc .KwTP37C5iJIMaRXX1AH6 .k9faf1jVJJ4bWnCD8Idh {
    font-size: 1.75rem;
    font-weight: bold;
}
/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./Content/Entries/Shared/Questions/QuestionStyles.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************/
.NtznuWbqapZXRo0BqESg {
}

.wgMnfYQ0quOdmQGU4jjL {
    height: auto;
}
/*!****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./Content/Entries/Shared/Questions/QuestionVariables.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************/

/*!************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./Content/Entries/Shared/Label/Label.scss ***!
  \************************************************************************************************************************************************************************************************************************************/
.xHRbTPeMyneCdGu5t5yj {
    font-size: 1.75rem;
    font-weight: bold;
}

.UCiu0IsKE_7Uqw1uRqRK {
    font-size: 1.25rem;
    font-weight: normal;
}

.pYkr4kfNOyYKaPitpKC6 {
    font-size: 1rem;
    font-weight: normal;
}

.L4Rj21CKbDpr7FcohGhm {
    font-size: 0.9rem;
    font-weight: normal;
}
/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./Content/Components/EventPreview/EventDetails/EventDetails.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
.W0K5rI0WYEEczwnXfCQX {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 50px;
}
.W0K5rI0WYEEczwnXfCQX .Ajn0bhxUT0VToDIugny5 {
    width: 90vw;
}
.W0K5rI0WYEEczwnXfCQX .Ajn0bhxUT0VToDIugny5 .pqqwwoUdX0A0k4mHHuz0 img {
    border-radius: 8px;
}
.W0K5rI0WYEEczwnXfCQX .Ajn0bhxUT0VToDIugny5 .DOMyb2aKDqJwaL1sRwsT {
    padding: 50px 80px 50px 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    overflow: hidden;
}
.W0K5rI0WYEEczwnXfCQX .Ajn0bhxUT0VToDIugny5 .CVoMwr11TgutpOnkGUjJ {
    font-size: 40px;
    margin: 0;
    font-weight: bolder;
    word-wrap: break-word;
}
.W0K5rI0WYEEczwnXfCQX .Ajn0bhxUT0VToDIugny5 .c5LM9FlzhaUF938x0ex6 {
    white-space: normal;
    font-size: 1.75rem;
    font-weight: bold;
}
/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./Content/Components/EventPreview/InspectorsEditor/InspectorEditor.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.KI71P3oWVOce3iTnqBMQ {
    padding-top: 10px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./Content/Components/EventAdmin/Questions/QuestionBuilder/QuestionBuilder.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.jWaTKBqsNGIgR8B9pbJ_ {
}
.jWaTKBqsNGIgR8B9pbJ_ .K9uYIhMAaEiOJAzIr0OO {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.jWaTKBqsNGIgR8B9pbJ_ .K9uYIhMAaEiOJAzIr0OO .U743jHjsXoBeUlEynR3t {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.jWaTKBqsNGIgR8B9pbJ_ .K9uYIhMAaEiOJAzIr0OO .b6oQemojdaAhCe8LWrCH {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/*!********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./Content/Entries/Shared/BinButton/BinButton.scss ***!
  \********************************************************************************************************************************************************************************************************************************************/
.j1tHamQ1CV2YW4R95zaV {
    position: relative;
}
.j1tHamQ1CV2YW4R95zaV .zK_aZ3TJJRjzUaSpLL03 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1.4rem;
    text-align: center;
    left: -30px;
}

.ljt6NTtgeKHLwogwAMW4 {
    background: transparent;
    border: none;
    cursor: pointer;
}
.ljt6NTtgeKHLwogwAMW4:hover {
    opacity: 0.6;
}
.ljt6NTtgeKHLwogwAMW4 .FEm7w5D7HE1l7h022bED {
    width: 1rem;
}
/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./Content/Entries/Shared/TicketView/TicketView.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************/
.C3gbqFOgqnYo3GSt1vfn {
    width: 592px;
    height: 262.5px;
    background-color: white;
    border: solid 0.1px;
    border-radius: 15px;
}
.DtuQA5zu451At0og3SFL {
    width: 592px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./Content/Entries/Shared/TicketView/TicketForm/TicketForm.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************/
.DkDjzdyiQC2If3w4toyS {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./Content/Entries/Shared/TicketView/TicketImageLoader/TicketImageLoader.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.EzdY1txt7UcfPO7a0GmA {
    border-radius: 10px;
}

.lbvbQ7zC9kU508nWEL9e {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.lbvbQ7zC9kU508nWEL9e .qcK40AOSRr8VqonWrvFV {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    background: url("data:image/svg+xml;charset=UTF-8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"20\" height=\"20\" viewBox=\"0 0 20 20\"><path fill=\"%23ccc\" d=\"M0 18v2h2l8-8-2-2zm0-8v2h2l8-8-2-2zm0-8v2h2l8-8-2-2z\"/></svg>") no-repeat right bottom;
}

.fep_AxPjpqEFiP3RWtq3 {
}

.gCKGDBi3SRZls5Z5uijI {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.gCKGDBi3SRZls5Z5uijI:hover .XyIUfSSVeMVOBKEGIKVF {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.xCdRA9o4nQvWeYeueBwq {
    cursor: pointer;
}

.XyIUfSSVeMVOBKEGIKVF {
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.p5pnr_fZdsYDCmt0IGE2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./Content/Entries/Shared/ThemeProvider/CerberThemeProvider.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
body {
    background-color: #F0F0F0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", "Arial", serif;
    font-style: normal;
    font-size: 20px;
    overflow-y: scroll;
}
/*!**************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./Content/Entries/Shared/Header/header.scss ***!
  \**************************************************************************************************************************************************************************************************************************************/
.JpdaMrIVSkenHFhInjCY {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: white;
}
.JpdaMrIVSkenHFhInjCY .bfIRx7TSj3NdWt8_wPso {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.JpdaMrIVSkenHFhInjCY .bfIRx7TSj3NdWt8_wPso .Ox_npqLz3Of8nzbSW71Z {
    cursor: pointer;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    letter-spacing: 10.5px;
}
/*!******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./Content/Entries/Shared/Wrappers/Wrappers.scss ***!
  \******************************************************************************************************************************************************************************************************************************************/
.kRaypHzsp1OzLI3e1SvM {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}

/*# sourceMappingURL=css\eventAdmin.css.map*/