<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="file:///C:/Users/Нитро/Desktop/programming/cerber/RabbitMqListener/Result.html" media="screen" />

<html>
<head>
    <title></title>
</head>
<body>
<div class="userName">
    @Model.UserName
</div>
</body>
</html>