<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="@Model.StylesPath" media="screen" />

<html>
<head>
    <title></title>
</head>
<body>
<div class="userName">
    @Model.UserName
</div>
</body>
</html>